@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.pop {
  width: 36%;
  height: 60px;
  position: fixed;
  top: -60px;
  left: calc(50% - 18%);
  background-color: rgba(255, 0, 55, 0.795);
  z-index: 2000001;
  display: flex;
  place-items: center;
  border-radius: 10px;
}

.pop p {
  width: 100%;
  padding-inline: 3px;
  text-align: center;
  color: #fff;
  word-break: break-all;
}

.pop.active {
  transition: all 0.5s ease-in-out;
  animation: slide 7s linear;
}

@keyframes slide {
  10% {
    top: 20px;
  }
  15%,
  50%,
  90% {
    top: 10px;
  }
  100% {
    top: -60px;
  }
}

.details {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.details .container {
  display: block;
  max-width: 100%;
  width: 100%;
  background-color: #fff;
  padding: 2% 5%;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.details .container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.details .container .title::before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 0;
  height: 3px;
  width: 120px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content form .user-details {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: calc((100% / 3 - 20px) / 3);
  /* justify-content: space-between; */
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 3 - 20px);
}

form .input-box.dur {
  margin-bottom: 15px;
  width: calc(100% / 1 - 20px);
  display: flex;
  gap: 1%;
  justify-content: space-around;
  align-items: center;
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: calc((100% / 8 - 20px) / 8);
  /* justify-content: space-between; */
  margin: 20px 0 12px 0;
  padding-inline: 25px 15px;
}

.user-details .input-box input,
.input-box .wrapper input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.input-box .wrapper_1 input,
.input-box .wrapper_1 span {
  margin-bottom: 15px;
  width: calc(100% / 3 - 20px);
  font-weight: 500;
}
.input-box .wrapper_2 input,
.input-box .wrapper_2 span {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
  font-weight: 500;
}
#award-table,
#work-table {
  height: 35px;
  width: 200px;
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid #2a2185;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.c_btn {
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 300;
  background-color: #2a2185;
  border: 1px solid #2a2185;
  border-radius: 15px;
  color: #ccc;
  cursor: pointer;
}

.input-box.dur input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

form .input-box input:focus,
form .input-box input:valid {
  border-color: #9b59b6;
}

form .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  background: #9b59b6;
  border-color: #d9d9d9;
}

form input[type="date"] {
  appearance: none;
}

form textarea {
  width: 80%;
  height: 300px;
  border: 2px black solid;
  border-radius: 10px;
  padding: 10px;
  margin: 3%;
}

form select {
  appearance: none;
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

form .button {
  height: 45px;
  margin: 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #2a2185;
}

form .button input:hover {
  /* transform: scale(0.99); */
  border: 4px #2a2185 solid;
  color: #2a2185;
  background: #ffffff;
}

@media (max-width: 584px) {
  .details {
    padding: 0;
  }
  .container {
    max-width: 90%;
  }
  form .user-details .input-box {
    padding: 5% 2%;
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 400px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

@media (max-width: 459px) {
  .container .content .user-details {
    flex-direction: row;
    border: 2px #2a2185 solid;
    border-radius: 10px;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
    flex-direction: column;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
}

@media screen and (min-width: 1400px) {
  form .user-details .input-box {
    width: calc(100% / 4 - 20px);
  }
  form .input-box span.details {
    font-size: 14px;
  }
}

@media screen and (min-width: 1450px) {
  form .input-box span.details {
    font-size: 15px;
  }
}

@media screen and (min-width: 1500px) {
  form .input-box span.details {
    font-size: 16px;
  }
}

@media (max-width: 770px) {
  .details .container {
    margin: 0 5%;
  }
  form .user-details .input-box {
    width: calc(100% - 20px);
  }
}
